*{
  font: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes scaling {
  0%{
    transform: scale(0.5);
  }

  50%{
    transform: scale(0.8);
  }

  100%{
    transform: scale(1);
  }
}

html{
  font-size: 10px;
}

article{
  text-align: center;
}

.box::-webkit-scrollbar {
  display: none;
}

.horizontal-line {
  border: .1px solid black;
  position: relative;
  display: inline-block;
  width: 600px;
  top: 300px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.vertical-line {
  border: .05px solid black;
  position: relative;
  display: inline-block;
  height: 600px;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
}

.circleone{
  /* top: 5rem;
  left: 5rem; */
  right: 0;
  bottom: 0;
  position: absolute;
  display: inline-block;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: .5px solid black;
  transform: translate(-10%, -10%);
}

.circletwo{
  /* top: 5rem;
  left: 5rem; */
  right: 0;
  bottom: 0;
  position: absolute;
  display: inline-block;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: .5px solid black;
  transform: translate(-130%, -130%);
  background-color: white;
}

.circle-3{
  /* top: 5rem;
  left: 5rem; */
  right: 0;
  bottom: 0;
  position: absolute;
  display: inline-block;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: .5px solid black;
  transform: translate(-130%, 110%);
}

.circle-4{
  /* top: 5rem;
  left: 5rem; */
  right: 0;
  bottom: 0;
  position: absolute;
  display: inline-block;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: white;
  transform: translate(-42%, 140%);
}

.square-4{
  border: .5px solid black;
  width: 15rem;
  height: 15rem;
  /* top: 5rem;
  left: 35rem; */
  right: 0;
  bottom: 0;
  display: inline-block;
  position: absolute;
  transform: translate(-250%, 368%);
}

.circle-5{
  /* top: 5rem;
  left: 5rem; */
  right: 0;
  bottom: 0;
  position: absolute;
  display: inline-block;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: .5px solid black;
  transform: translate(-130%, 240%);
}

.circle-6{
  border-bottom-left-radius: $size * 2;
  border-top-left-radius: $size * 2;
  transform: translate(-130%, 240%);
}

.squareone{
  border: .5px solid black;
  width: 20rem;
  height: 20rem;
  /* top: 5rem;
  left: 35rem; */
  right: 0;
  bottom: 0;
  display: inline-block;
  position: absolute;
  transform: translate(-25%, -174%);
}

.square-2{
  border: .5px solid black;
  width: 20rem;
  height: 20rem;
  /* top: 5rem;
  left: 35rem; */
  right: 0;
  bottom: 0;
  display: inline-block;
  position: absolute;
  transform: translate(-174%, -25%);
}

.square-3{
  background-color: black;
  width: 20rem;
  height: 20rem;
  /* top: 5rem;
  left: 35rem; */
  right: 0;
  bottom: 0;
  display: inline-block;
  position: absolute;
  transform: translate(-20%, 120%);
}

.column {
  flex: 1;
}

.box{
  border: 1px solid black;
  width: 600px;
  height: 600px;
  display: flex;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}

.horiztonal-line .vertical-line .circleone .squareone .square-2 .circletwo{
  flex: 1;
}

.circleone:hover {
  background: rgba(231, 194, 77, 100); /*mustard*/
}

.circle-3:hover{
  background: rgba(231, 194, 77, 100); /*mustard*/
}

.squareone:hover{
  background: rgba(255, 39, 112, 100);
  filter: blur(40px);
}

.square-2:hover{
  background: rgba(0, 119, 222, 100); /*blue*/
  linear-gradient:
}

.circle-4:hover{
  background-color: black;
}

.clicked{
  background: rgba(255, 39, 112, 100);
  animation: scaling infinite 3s;
  position: absolute;
}
