* {
  font: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40%; left: 50%;
  transform: translate(-50%, -50%);
}


  .apple-string{
    border: 1px solid white;
    height: 245px;
    width: 1px;
    top: 0em;
    left: 35em;
  }

.apple {
    width: 10rem;
    height: 11rem;
    border-radius: 50%;
    background: #F7470A;
    top: 15em;
    left: 30em;
    position: absolute;
  }


  .apple, .apple-string, .cabbage, .cabbage-string {
          -webkit-animation: action 0.8s infinite  alternate;
          animation: action 0.8s infinite  alternate;
      }
      @-webkit-keyframes action {
          0% { transform: translateY(0); }
          100% { transform: translateY(-20px); }
      }
      @keyframes action {
          0% { transform: translateY(0); }
          100% { transform: translateY(-20px); }
      }

.innerframe {
  width: 72rem;
  height: 60rem;
  /* border-top: 0rem solid goldenrod; */
  border-bottom: 7rem solid #BABDB0;
  border-right: 6rem solid #C4C6BC;
  border-left: 6rem solid #676862;
}

/* .squareback {
  width: 72rem;
  height: 60rem;
  background: black;
} */

.squareframe {
  width: 100%;
  height: 68rem;
  background: #D1D4C8;
  margin-top: 4rem;
