* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  line-height: 1;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.5em;
  /* align-items: center; */
}
p {
  font-size: 2.4rem;
}
.left {
  text-align: left;
  flex: 1;
}
.right {
  text-align: right;
  flex: 1;
}
.center {
  text-align: right;
  flex: 1;
}

div {
  /* max-width: 40px; */
}

div:first-of-type {
  text-align: right;
  padding-top: 1.5em;
}

div:nth-of-type(2) {
  padding: 0 1em;
}

div:last-of-type {
  text-align: left;
  padding-top: 7.5em;
}
